/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 24px;
    text-align: center;
  }
  main {
    padding: 2em 6em;
    border: solid 1px black;
  }
  .parole {
    position: relative;
  }
  
  .parole i {
    color: rgb(64, 12, 146);
    width: 160px;
    position: absolute;
    opacity: 0;
  }
  @keyframes mostraParole1 {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    15% {
      opacity: 1;
      transform: translateY(0px);
    }
    34% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  @keyframes mostraParole2 {
    34% {
      opacity: 0;
      transform: translateY(-50px);
    }
    50% {
      opacity: 1;
      transform: translateY(0px);
    }
    66% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  @keyframes mostraParole3 {
    67% {
      opacity: 0;
      transform: translateY(-50px);
    }
    80% {
      opacity: 1;
      transform: translateY(0px);
    }
    100% {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  .parole .parola1 {
    animation: mostraParole1 15s infinite;
  }
  
  .parole .parola2 {
    animation: mostraParole2 15s infinite;
  }
  
  .parole .parola3 {
    animation: mostraParole3 15s infinite;
  }


