body{
    background-color: #886c2646;
}
.board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.postit1:hover {
    color: black;
    transform: scale(1.2);
    z-index: 1;
  }
.postit2:hover {
    color: black;
    transform: scale(1.2);
    z-index: 1;
  }
.postit3:hover {
    color: black;
    transform: scale(1.2);
    z-index: 1;
  }
.postit4:hover {
    color: black;
    transform: scale(1.2);
    z-index: 1;
  }
.postit1{
    width: 20%;
    height: 240px;
    background: linear-gradient(to bottom, #EDDB5F 50%, #413006 100%);
    
    margin: 1em;
    margin-top: 40px;
    transform: rotate(7deg) translate(-15px, 10px);
    display: flex;
    justify-content: center;
    align-items: center;

}
.postit2{
    width: 20%;
    height: 240px;
    background: linear-gradient(to bottom, aqua 50%, rgb(18, 105, 1) 100%);
    margin: 1em;
    margin-top: 40px;
    transform: rotate(-7deg) translate(-15px, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.postit3{
    width: 20%;
    height: 240px;
    background: linear-gradient(to bottom, #320ae6 50%,#2b0404   100%);
    margin: 1em;
    margin-top: 40px;
    transform: rotate(7deg) translate(-15px, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.postit4{
    width: 20%;
    height: 240px;
    background: linear-gradient(to bottom, #e60a0a 50%,#0b042b   100%);
    margin: 1em;
    margin-top: 40px;
    transform: rotate(-7deg) translate(-15px, 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    font-size: xx-large;
}


@keyframes growAndRotate {
  0% {
    opacity: 0;
    transform: scale(2) rotate(1390deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(7deg);
  }
}
@keyframes growAndRotate2 {
  0% {
    opacity: 0;
    transform: scale(2) rotate(-390deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-7deg);
  }
}



.postit1 {
  animation: growAndRotate 1.5s linear 0s;
}
.postit2 {
  animation: growAndRotate2 2s linear 0s ;
}
.postit3 {
  animation: growAndRotate 3s linear 0s;
}
.postit4 {
  animation: growAndRotate2 4s linear 0s;
}

